---
import { formatDateBR } from '../utils/formatDateBR';
import { getReadingTimeLabel } from '../utils/readingTime';
import { getAuthorName, getCoverPath, getPostSlug } from '../utils/postHelpers';
import PostCard from './PostCard.astro';

interface Props {
  posts: Array<any>;
  fallbackCover: string;
}

const { posts, fallbackCover } = Astro.props;
---

<ul class="article-list">
  {
    posts.map((post) => (
      <li>
        <PostCard
          url={`/posts/${getPostSlug(post)}/`}
          cover={getCoverPath(post.data.cover)}
          title={post.data.title}
          formattedDate={formatDateBR(post.data.date)}
          author={getAuthorName(post.data.author)}
          readingTime={getReadingTimeLabel(post.body)}
          fallbackCover={fallbackCover}
        />
      </li>
    ))
  }
</ul>

<style>
  .article-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .article-list li {
    min-width: 0;
  }

  @media (min-width: 768px) {
    .article-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.1rem;
    }
  }

  @media (min-width: 1024px) {
    .article-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.2rem;
    }
  }
</style>
